.users {
  display: flex;
  justify-content: center;
  & .users__button-not-logged {
    margin-top: 100px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    @media screen and (min-width: 991.98px) {
      &:hover {
        background-color: #A1A1AA;
      }
    }
  }
  & ul {
    padding-top: 10px;
    width: 700px;
    margin: 0 auto;

    & li {
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 3px #fff;
      padding: 10px;
      border: 1px solid #A1A1AA;
      margin-bottom: 10px;

      & .users__button {
        align-self: flex-end;

        & a {
          font-size: 14px;
          display: inline-block;
          color: #fff;
          padding: 5px 10px;
          background-color: #A1A1AA;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}